<div class="wrapper">
  <div class="schedule inbound">
    <h4 class="title">Inbound</h4>
    <ul class="stops inbound">
    </ul>
  </div>
  <div class="center">
    <h1 class="logo">MUNI Inbound Outbound</h1>
    <span class="first inbound">inbound</span>
    <span class="other inbound"></span>
    <br>
    <span class="first outbound">outbound</span>
    <span class="other outbound"></span>
    <div class="route">
      <div class="select">
        <div class="anchor">
          <p class="selected"></p>
        </div>
      </div>
      <%= collection_select(:id, :r_desc, @routes.all, :id, :r_desc) %>
    </div>
  </div>
  <div class="schedule outbound">
    <h4 class="title">Outbound</h4>
    <ul class="stops outbound">
    </ul>
  </div>
</div>