<div class="wrapper">
  <div class="schedule inbound">
    <h4 class="title">Inbound</h4>
  </div>
  <div class="center">
    <h1 class="logo">MUNI Inbound Outbound</h1>
  </div>
  <div class="schedule outbound">
    <h4 class="title">Outbound</h4>
  </div>
  <%= link_to 'Nextbus', nextbus_home_path(@home) %>
</div>