
$prefixes: "-webkit-", "-moz-", "-ms-", "-o-", "";

/* appearance */

@mixin appearance($value: none) {
  @each $prefix in $prefixes {
    #{$prefix}appearance: $value;
  }
}

/* border radius */

@mixin border-radius($value...) {
  @each $prefix in $prefixes {
    #{$prefix}border-radius: $value;
  }
}

/* box shadow */

@mixin box-shadow($value...) {
  @each $prefix in $prefixes {
    #{$prefix}box-shadow: $value;
  }
}

/* box sizing */

@mixin box-sizing($value: border) {
  @each $prefix in $prefixes {
    #{$prefix}box-sizing: #{$value}-box;
  }
}

/* gradient */

@mixin gradient($color...) {
  background: $color;
  @each $prefix in $prefixes {
    background: #{$prefix}linear-gradient(top, #{$color});
  }
  background: linear-gradient(to bottom, $color);
}

/* retina */

@mixin retina($file, $type, $width: 100%, $height: 100%) {
  background-image: url($file + '.' + $type);

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx){

    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
      -moz-background-size: $width $height;
      -o-background-size: $width $height;
      background-size: $width $height;
    }

  }

}
